*{
    margin: 0;
    padding: 0;
    border: border-box;
    display: flex;   
}

body{
    background-color: black;
}

.sidebar{
    background-color: rgb(55, 53, 53);
    margin-top: 0%;
    margin-left: 0%;
}

.menu{
    left: 0;
}